<!--
Nombre: Alan Escarcega
Matricula: 23030680
fecha: 18/6/2026
-->

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      To do list v2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder="Ingresa una nueva tarea" name="task" [(ngModel)]="newTaskStr">
    </ion-input>
    <ion-button (click)="addTask()" [disabled]="!newTaskStr">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  @if (tasks.length > 0) {
  <ion-list>
    <ion-reorder-group [disabled]="false" (ionReorderEnd)="actualizarPosiciones($event)">
      @for (task of tasks; track task.id) {
      <ion-item-sliding>

        <ion-item>
          <ion-label>{{ task.title }}</ion-label>
          <ion-reorder></ion-reorder>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon name="trash-outline" slot="icon-only" (click)="confirmDelete(task)"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
      }
    </ion-reorder-group>
  </ion-list>
  } @else {
  <ion-item lines="none" class="ion-text-center">
    No hay tareas pendientes
  </ion-item>
  }
</ion-content>