<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let task of tasks">
    <ion-card-header>
      <ion-card-title>{{ task.title }}</ion-card-title>
      <ion-card-subtitle>{{ task.priority }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ task.description }}
    </ion-card-content>

    <ion-card-content>
      Completado: {{ task.completed }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button (click)="saludar()">Aceptar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>