<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>TaskMaster Lite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="stacked">Nueva tarea</ion-label>
    <ion-input ngModel [(ngModel)]="newTaskStr" placeholder="Estudiar typescript"></ion-input>
  </ion-item>

  <ion-button expand="block" color="secondary" (click)="addTask()">Agregar tarea</ion-button>


  <ion-list>
    @for (task of tasks; track task.id) {
    <ion-item>
      <ion-label>{{task.title}}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>